#header {
    background-color: #000000;
}

.header nav{
    margin-left: 8%;
    padding-top: 20px;
}

.navbar-icon{
    width: 150px;
    height: auto;
}
.header li{
    padding-left: 10px;
    padding-right: 10px;
}
.header 
.navbar-dark 
.navbar-nav 
.nav-link {
    color: #ffffff;
}

.sidebar-menu ul{
    border-bottom: 1px solid #c7cbd6;

}
.sidebar-menu li{
    width: 100%;
    border-top: 1px solid #c7cbd6;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    vertical-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar-menu a{
    color: #494D56;
    float: left;
}
.sidebar-menu i{
    float: right;
    margin-left: 8px;
}
.sidebar-subdrop{
    font-size: 12px;
    color: #494D56;
    width: 100%;
    line-height: 12px;
    border-top: 1px solid #c7cbd6;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');


.card-content {
    height: 400px;
    border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card-content img{
    height: 45%;
}
.card-body h3 {
    font-weight: 600;
    font-size: 1.5em;
}

.card-body p {
    font-size: 1em;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}

.btn-card{
	background-color: #009cff;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .50rem 2.14rem;
    font-size: .81rem;
    border: 0;
    position: static;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-card:hover {
    background: #28acff;
    color: #fff;
    text-decoration: none;
} 
@media (max-width: 1200px ) and (min-width: 993px) {
    .card-body p{
        font-size: 0.8em;
    }
}

@media (max-width: 769px ) and (min-width: 575px){
    .card-body p{
        font-size: 0.8em;
    }
}

/* End card section */

.ft-links {
    background: #ececec;
}
.ft-links .container {
    padding-bottom: 30px;
    text-align: center;
}

footer .container {
    padding: 40px 20px 10px;
}
.ft-menu-list {
    margin: 0 0 10px;
    
}
ul{
    list-style-type: none;
    padding-inline-start: 10px;
}

.ft-copyright {
    background: #1e1e1e;
    
}
.ft-copyright .container {
    padding: 10px 20px 20px;
}
.ft-ads-list{
    display: flex;
    flex-direction: row;
}
.ft-copyright-list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
}

.ft-menu{
    color: #000000;
}
@media (max-width: 1200px ){
    .ft-copyright-list {

        flex-direction: column;
    }
}
@media (max-width: 992px ){
    .ft-ads-list{
        text-align: center;
        flex-direction: column;
    }
    .ft-copyright-list {
        text-align: center;
    }
}